
<div class="subtitle">
  <h1>Here is Your Workout Log!<h1>
</div>

<div class="jumbotron">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
      </tr>

  </thead>
  <tbody>

    <% @workouts.each do |workout| %>

    <tr>
      <th scope="row">Workout Date</th>
      <td><%= link_to workout.date, user_workout_workout_exercises_path(@user, workout) %></td>
    </tr>

    <% muscles = (workout.exercises.map {|exercise| exercise.muscle_group}).uniq %>
    <% muscles.each do |muscle| %>

    <tr>
      <th scope="row">Muscles Worked</th>
      <td><%= muscle %></td>
    </tr>

    <% end %>
  <% end %>

    </tbody>
  </table>
<div>
