<% @workouts.each do |workout| %>
  <li><%= link_to workout.date, user_workout_path(workout, @user) %></li>
  <% muscles = (workout.exercises.map {|exercise| exercise.muscle_group}).uniq %>
  <% muscles.each do |muscle| %>
  <li><%= muscle %></li>
  <% end %>
<% end %>
