<div class="card">
  <%= render partial: "user", locals: {user: @user} %><br><br>
  <%= link_to "Edit your profile", edit_user_path(@user), class: 'btn btn-primary' %>
  <%= form_for @user, method: :delete do |f| %><br><br>
  <%= f.submit "Delete Profile", class: 'btn btn-danger' %>
  <% end %>
</div>
