<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <div class="main-header-image" style="background-image: url(/assets/fitness.jpg);">
    <div class="title">
      <h1>ALL YOUR WORKOUTS, IN ONE PLACE.</h1>
    </div>
  </div>

  <div class="container-fluid">

    <div class="card">
      <div class="card-block">
        <i class="fa fa-cog fa-spin fa-5x"></i>
        <h4 class="card-title">Create a custom workout</h4>
        <p class="card-text">Create a custom workout according to your goals.<br> Do what you like.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <i class="fa fa-pencil fa-5x"></i>
        <h4 class="card-title">Randomize your workout</h4>
        <p class="card-text">Get a new workout and get ready to be challenged. <br> Muscle confusion stimulates growth.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <i class="fa fa-gavel fa-5x"></i>
        <h4 class="card-title">Keep track and transform</h4>
        <p class="card-text">Your progress will be with you everywhere you go.</p>
      </div>
    </div>
  </div>

  <br>

  <%= link_to 'Get started', new_user_path, class: "btn btn-primary btn-block" %>


  </body>
</html>
