/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "welcome";
 @import "font-awesome";

 body {
  background-color: white;
}

html{
  width:100%;
  height:100%;
}

 .navbar-default{
   background-color: black;
 }

 .dropdown-menu{
  display: center;
  font-family: "Brother 1816";
}

 body{
   background-color: white;
 }

 .navbar-brand{
   width: 170px;
   left: 15px;
 }

.mastfoot {
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: black;
   text-align: center;
}

 .inner{
   color: white;
 }

 .buttons {
   margin-bottom: 10px,
 }

 .card{
   width:75%;
   margin:auto;
   margin-top:50px;
   padding-left: 10px;
   padding-right: 10px
 }

 .btn-block{
   width: 20%;
   margin: auto;
 }

.form-group{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-group{
float:right;
margin-right: 10px;
margin-top: 10px;
}

.title{
  left: 40% !important;
  color: white;
  margin-right: 15%;
}

.title h1{
  font-family: helvetica;
  font-size: 50px;
  font-weight: 800;
}

.fa {
  color: #39ff14;
}

btn btn-primary btn-block

.btn-primary, .btn-block {
    background-color: #C0C0C0 !important;
}
